<div id="<%= dom_id question %>">
  <p>
    <strong>Text:</strong>
    <%= question.text %>
  </p>

  <p>
    <strong>Personality trait:</strong>
    <%= question.personality_trait_id %>
  </p>

</div>
