<div id="<%= dom_id user_career %>">
  <p>
    <strong>Score:</strong>
    <%= user_career.score %>
  </p>

  <p>
    <strong>Career:</strong>
    <%= user_career.career_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_career.user_id %>
  </p>

</div>
