<h1>Editing user career</h1>

<%= render "form", user_career: @user_career %>

<br>

<div>
  <%= link_to "Show this user career", @user_career %> |
  <%= link_to "Back to user careers", user_careers_path %>
</div>
