<p style="color: green"><%= notice %></p>

<h1>User careers</h1>

<div id="user_careers">
  <% @user_careers.each do |user_career| %>
    <%= render user_career %>
    <p>
      <%= link_to "Show this user career", user_career %>
    </p>
  <% end %>
</div>

<%= link_to "New user career", new_user_career_path %>
