<h1>Editing personality trait</h1>

<%= render "form", personality_trait: @personality_trait %>

<br>

<div>
  <%= link_to "Show this personality trait", @personality_trait %> |
  <%= link_to "Back to personality traits", personality_traits_path %>
</div>
