<div id="<%= dom_id career %>">
  <p>
    <strong>Name:</strong>
    <%= career.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= career.description %>
  </p>

  <p>
    <strong>Skills required:</strong>
    <%= career.skills_required %>
  </p>

</div>
