<div id="<%= dom_id trait_score %>">
  <p>
    <strong>Score:</strong>
    <%= trait_score.score %>
  </p>

  <p>
    <strong>User:</strong>
    <%= trait_score.user_id %>
  </p>

  <p>
    <strong>Personality trait:</strong>
    <%= trait_score.personality_trait_id %>
  </p>

</div>
