<h1>Editing trait score</h1>

<%= render "form", trait_score: @trait_score %>

<br>

<div>
  <%= link_to "Show this trait score", @trait_score %> |
  <%= link_to "Back to trait scores", trait_scores_path %>
</div>
