<h1>Editing trait weight</h1>

<%= render "form", trait_weight: @trait_weight %>

<br>

<div>
  <%= link_to "Show this trait weight", @trait_weight %> |
  <%= link_to "Back to trait weights", trait_weights_path %>
</div>
