<div id="<%= dom_id career_trait %>">
  <p>
    <strong>Career:</strong>
    <%= career_trait.career_id %>
  </p>

  <p>
    <strong>Personality trait:</strong>
    <%= career_trait.personality_trait_id %>
  </p>

</div>
