<h1>Editing career trait</h1>

<%= render "form", career_trait: @career_trait %>

<br>

<div>
  <%= link_to "Show this career trait", @career_trait %> |
  <%= link_to "Back to career traits", career_traits_path %>
</div>
